<div class="content">
  <h1>Home Astems</h1>
<p class="zoom-area"><b>Astems</b> xin chào! </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
  <a target="_blank" href="https://www.silocreativo.com/en/creative-examples-404-error-css/" class="more-link">Hệ thống đang được cập nhật !!!</a>
</div>
</div>